@import "tailwindcss";
@tailwind componenets;
@tailwind utilities;  

@theme {
  /* --- Configuration du Container --- */
  --container-center: true;
  --container-padding: 15px;

  /* --- Configuration des Screens (Breakpoints) --- */
  /* On redéfinit les variables de breakpoints natives */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  
  /* Ton réglage spécifique pour le XL */
  --breakpoint-xl: 1400px; 
  --font-oswald: var(--font-oswald);
  --font-roboto: var(--font-roboto);

  
  --image-hero: url("/assets/img/hero/bg.png");
  --image-membership: url("/assets/img/membership/bg.jpg");
} 